<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');
    </style>
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>DH NEWS</title>
</head>

<body>
    <h1>DH NEWS</h1>
    <h3>Publidada em 21/07/2022</h3>
    <p class="destaque" >Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong>Omnis perspiciatis</strong> qui, animi
        perferendis
        adipisci
        illo, sunt error quia explicabo aperiam consequuntur, nemo debitis ullam voluptas at alias maiores eos
        beatae.</p>
    <img class="destaque" src="../public/img/destaque.webp" alt="DH">
    <h2>Lorem ipsum dolor sit amet consectetur</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae tempora magni voluptates tenetur
        minus repellat alias quod autem eum quibusdam fugit amet nulla nisi commodi similique delectus, blanditiis
        quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt corporis odio nostrum omnis? Fugit
        reiciendis autem libero quasi voluptas incidunt? Eveniet ut deserunt saepe esse cumque excepturi quas laboriosam
        quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </p>

    <ol id="lista">
        <li>Deserunt corporis odio nostrum omnis?</li>
        <li>Fugit reiciendis autem libero quasi voluptas incidunt?</li>
        <li>Lorem ipsum dolor sit amet consectetur</li>
    </ol>

    <p>
        Molestias rerum facilis voluptas labore, quas
        suscipit nam corrupti nulla quam et, reiciendis minus expedita incidunt minima hic! Incidunt tenetur corrupti
        ipsa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusamus vitae enim alias, ex accusantium
        nesciunt culpa labore eveniet quisquam soluta impedit quo asperiores est laudantium repellat excepturi provident
        perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, numquam saepe doloribus enim
        expedita est atque ea distinctio nisi molestias corporis eaque sapiente. Maxime enim veniam suscipit sequi
        culpa. Nisi!
    </p>

    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <strong>Ducimus rem eum vel pariatur veritatis
            eligendi</strong>
        voluptatibus architecto doloremque sapiente deserunt quia quisquam sunt, eos reprehenderit dolor, maxime in
        consectetur nam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam magni, vitae non numquam quo
        doloremque vero cum minus beatae autem accusamus facilis quia quidem quibusdam corporis odit. Aliquam, qui
        vitae.
    </p>
    <footer>
        <a href="http://facebook.com" target="blank"><img src="../public/img/facebook.svg" alt="Facebook"></a>
        <a href="http://instagram.com" target="blank"><img src="../public/img/instagram.svg" alt="Instagram"></a>
        <a href="http://linkedin.com" target="blank"><img src="../public/img/linkedin.svg" alt="LinkedIn"></a>
        <a href="http://youtube.com" target="blank"><img src="../public/img/youtube.svg" alt="Youtube"></a>
    </footer>
</body>

</html>