body {
    display: block;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 200px;
    text-align: justify;
}

h1{
    color:crimson;
}

img {
    display: block;
    margin: 20px auto;
}

footer img {
    display: inline-block;
    width: 40px;
    margin: 10px;
    align-items: center;
}

footer {
    height: 1px;
    background-color: rgb(173, 173, 173);  
    margin: 100px auto;
    text-align: center;
}