body {
    font-family: 'Rajdhani', sans-serif;
    margin: 150px 250px;
}

.destaque {
    width: 100%;
}

h1 {
    color: #ec183f;
    font-weight:bolder;
}

#lista {
    font-style: italic;
}

footer {
    border-top: solid 1px #ccc;
    text-align: center;
    padding: 10px;
} 

footer a {
    text-decoration: none;
}

footer > a > img {
    width: 32px;
}

